<div class="container-fluid">
  <div class="row align-items-center text-center">
    <div class="col">
      <h1>Users Page</h1>
      <h2></h2>
      <button (click)="addNewUser()" class="btn btn-primary mb-3">NEW</button>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button (click)="editUser(user.id)" class="btn btn-sm btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
